* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  background-color: #def;
}

main {
  display: flex;
  margin-top: 1rem;
}

h2 {
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 10px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.pricing-container {
  width: 100%;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.pricing-card {

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 300px;

}

.lista li {
  padding-left: 15px;
  text-align: center;
}